[Desktop Entry]
Version=1.1
Name=AGL_Quiz_Application
Comment=AGL_Quiz_Application
GenericName=AGL_Quiz_Application
#Icon=AGL_Quiz_Application
Exec=/bin/AGL_Quiz_Application
Terminal=flase
Type=Application
Categories=System;
StartupNotify=true
